body {
    display: flex;

    font-family: 'IBM Plex Sans', 'Oswald', sans-serif;

    position: relative;
    margin: 0;

    width: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

.top {
    z-index: 2;
}

.background {
    width: 100%;
    height: 100%;
}

.top__image,
.background__image {
    display: block;

    width: 100%;
    height: 100%;
}

.car {
    position: fixed;

    right: 18%;
    transform: translateX(-50%);

    bottom: 40%;

    width: 80px;

    animation: drive 4s ease-out,
               ride 2s ease-in-out alternate infinite;
}

@keyframes drive {
    from {
        bottom: -300px;
    }

    to {
        bottom: 40%;
    }
}

@keyframes ride {
    from {
        transform: translateX(-50%) rotate(1deg);
    }

    to {
        transform: translateX(-50%) rotate(-1deg);
    }
}
