doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title Машины в городской среде
    link(rel='stylesheet' href=`${publicDir || ''}/cars-infographic/index.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    main
      .top
        img.top__image(src=`${publicDir || ''}/assets/cars-top.svg` alt="top")
      .background
        img.background__image(src=`${publicDir || ''}/assets/cars-background.svg` alt="background")
      img.car(src=`${publicDir || ''}/assets/car.png` alt="car")

    script(type="text/javascript").
      window.scrollTo(0, document.body.scrollHeight);
