:root {
    --text-font-size: 20px;
    --text-line-height: 26px;
    --background-color-rgb: 255, 255, 255;
    --background-color: rgb(var(--background-color-rgb));
    --foreground-color-rgb: 0, 0, 0;
    --foreground-color: rgb(var(--foreground-color-rgb));
    --inactive-color: rgba(var(--foreground-color-rgb), 0.3);
    --blue-accent-color-rgb: 62, 136, 223;
    --blue-accent-color: rgb(var(--blue-accent-color-rgb));
}
