extends ./layout

block append head
  title Как написать сильный текст — Некраткий пересказ «Пиши, сокращай»
  link(rel='icon' type='image/png' href=`${publicDir || ''}/assets/dragon.png`)
  link(rel='stylesheet' href=`${publicDir || ''}/cheatsheets/strong-text.css`)
  meta(name='description' content='Как написать сильный текст — Некраткий пересказ «Пиши, сокращай»')
  meta(property='og:title' content='Как написать сильный текст — Некраткий пересказ «Пиши, сокращай»')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://tonyfresher.github.io/cheatsheets/strong-text')
  meta(property='og:image' content='https://book.glvrd.ru/ip/ch3-3-white.jpg')
  meta(property='og:image:width' content='2200')
  meta(property='og:image:height' content='1633')

block content
  include:markdown-it(
    plugins=[
      'markdown-it-deflist',
      'markdown-it-mark',
      'markdown-it-checkbox',
      ['markdown-it-container', 'important'],
      ['markdown-it-container', 'block'],
      ['markdown-it-container', 'table-of-contents'],
      ['markdown-it-anchor', { 
        'level': [1, 2, 3]
      }]
    ]
    ) ../../data/cheatsheets/strong-text.md
