@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed:300,500,700');

body {
    position: relative;

    margin: 0;

    width: 100%;

    font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
}

/* Mobile */

@media screen and (max-width: 450px) {
    
}
