@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed:200,500');

html {
    font-family: 'IBM Plex Sans', 'Oswald', sans-serif;
}

body {
    margin: 0;

    width: 100%;
    height: 100%;

    width: 100vw;
    height: 100vh;
}

.background-gradient {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #1a1a1a;
    /* background: linear-gradient(90deg, #29e1b3, #aafbd7);
    animation: gradient-animation 10s linear 1.5s infinite; */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: auto;

    width: max-content;
    min-height: 100%;

    animation: fade-in 0.8s ease-out;
}

.files {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    margin: 60px 16px 30px 0;

    background: #ffffff08;

    border-radius: 2px;
}

.files__file-wrapper {
    display: flex;
    align-items: center;

    text-decoration: none;

    border-bottom: 2px solid #ffffff00;
}

.files__filename {
    margin: 12px;

    color: #777;

    font-size: 18px;

    transition: color 0.2s;
}

.files__file-wrapper:first-child,
.files__file-wrapper:hover {
    border-bottom: 2px solid #4d77eb;
}

.files__file-wrapper:first-child .files__filename,
.files__file-wrapper:hover .files__filename {
    color: #fff;
}

.code-sheet {
    flex-grow: 2;

    font-family: 'IBM Plex Mono', 'Fira Code', monospace;
    
    text-align: left;
}

.code-line {
    display: flex;
    flex-direction: row;

    padding: 4px 0;
}

.code {
    white-space: pre-wrap;
}

.code.kw {
    color: #a1a1a1;
}

.code.str {
    color: #4eee7e;
}

.code.var {
    color: #ee4e4e;
}

.code.func {
    color: #4d77eb;
}

.code.parath {
    color: #a3bcff;
}

.code.class {
    color: #f1cd55;
}

.code.prop {
    color: #fff;
}

.code.div {
    color: #fff;
}

.code.comment {
    color: #696969;
}

.link {
    text-decoration: none;

    /* transition: color .2s, background-color .2s; */
}

.link:hover {
    font-style: italic;

    color: #4e78ee;

    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;

    width: 100%;

    box-sizing: border-box;

    font-family: 'IBM Plex Sans Condensed', 'Oswald', sans-serif;
    font-size: 15px;
    
    text-align: center;

    color: #fff;
}

.footer__name {
    margin: 0 0 4px;

    text-transform: uppercase;

    font-weight: 500;
    letter-spacing: .8ch;
}

.footer__copy {
    color: #7a7a7a;

    font-weight: 200;
    letter-spacing: .3ch;
}

@keyframes gradient-animation {
    from {
        filter: hue-rotate(0deg)
    }

    to {
        filter: hue-rotate(360deg)
    }
}

@keyframes fade-in {
    from {
        filter: blur(10px)
    }

    to {
        filter: blur(0px);
    }
}

/* Mobile */
@media screen and (max-width: 320px) {
    .files__filename {
        margin: 8px;

        font-size: 9px;
    }
    
    .code-sheet {
        font-size: 10px;
    }

    .footer {
        font-size: 8px;
    }
}

/* Tablet */
@media screen and (min-width: 321px) and (max-width: 767px) {
    .files__filename {
        margin: 10px;

        font-size: 11px;
    }

    .code-sheet {
        font-size: 12px;
    }

    .footer {
        font-size: 10px;
    }
}

/* Desktop */
@media screen and (min-width: 768px) {
    .code-sheet {
        font-size: 20px;
    }

    .footer {
        font-size: 15px;
    }
}