@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed:200,500');

html {
    font-family: 'IBM Plex Sans', 'Oswald', sans-serif;
    --background-color: #fefffe; /* linear-gradient(#1f1f1f, #1a1a1a); */
    --ide-border-radius: 7px;
}

body {
    position: relative;
    margin: 0;

    width: 100%;
    height: max-content;
}

.background-gradient {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    margin: auto;
    padding: 0 16px;

    width: max-content;
    max-width: 100vh;
    min-height: 100vh;

    animation: fade-in 0.8s ease-out;

    box-sizing: border-box;
}

@keyframes fade-in {
    from {
        filter: blur(10px)
    }

    to {
        filter: blur(0px);
    }
}

/* IDE */

.ide {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    margin-top: 70px;

    width: min-content;

    font-size: 18px;

    background: #262626;
    border-radius: var(--ide-border-radius);

    box-shadow: 0 2px 16px #2e2e2e;
}

.ide__top-panel {
    display: flex;
    align-items: center;

    padding: 6px 10px;
}

.top-panel__buttons-wrapper {
    position: absolute;
    display: flex;
}

.top-panel__button {
    margin-right: 7.7px;

    width: 12px;
    height: 12px;

    background: #555;
    border-radius: 50%;
}

.top-panel__title {
    width: 100%;

    text-align: center;

    font-size: 72%;
    color: #ccc;
}

.pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;

    /* background: #212121; */

    max-width: 100%;

    border-radius: var(--ide-border-radius) var(--ide-border-radius) 0 0;
}

.pages__name {
    padding: 10px 22px;

    color: #777;

    font-size: 90%;
    text-decoration: none;

    transition: color 0.1s;
}

.pages__name:first-child,
.pages__name:hover {
    color: #eee;
    border-bottom-color: #eee;
    background: #eeeeee07;
}

.show-more {
    cursor: pointer;
}

.show-more:hover {
    color: #fff;
}

.pages__name,
.show-more,
.show-more:hover {
    border-bottom: 2px solid transparent;
}

/* Show More Checkbox Logic */

.show-more__checkbox {
    display: none;
}

.show-more__checkbox ~ .pages__name:not(.show-more) {
    display: none;
}

.show-more__checkbox:checked ~ .pages__name {
    display: flex;
}

.show-more__checkbox:checked ~ .show-more {
    color: #fff;
}

/* Code Sheet */

.code-sheet {
    padding: 16px 30px 14px 22px;

    font-family: 'IBM Plex Mono', 'Fira Code', monospace;
    
    text-align: left;

    width: max-content;

    opacity: 0.95;
}

.code-line {
    display: flex;
    flex-direction: row;

    margin: 0 0 6px;
}

.code {
    white-space: pre-wrap;
}

.code.kw {
    color: #a1a1a1;
}

.code.str {
    color: #4eee7e;
}

.code.var {
    color: #ee4e4e;
}

.code.func {
    color: #35a7ff;
}

.code.parath {
    color: #a3bcff;
}

.code.class {
    color: #f1cd55;
}

.code.prop {
    color: #fff;
}

.code.div {
    color: #fff;
}

.code.comment {
    color: #696969;
}

/* Footer */

.links {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.link {
    text-decoration: none;

    /* transition: color .2s, background-color .2s; */
}

.link:hover {
    font-style: italic;

    color: #35a7ff;

    text-decoration: underline;
}

.links,
.footer {
    font-family: 'IBM Plex Sans Condensed', 'Oswald', sans-serif;

    color: #1a1a1a;

    font-weight: 500;
    letter-spacing: .2ch;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    flex-grow: 2;

    padding: 24px 16px 16px;

    width: 100%;

    box-sizing: border-box;
    
    font-size: 15px;
    text-align: center;

    text-transform: uppercase;
}

.footer__name {
    margin: 0 0 4px;

    font-weight: 500;
    letter-spacing: .8ch;
}

.footer__copy {
    color: #7a7a7a;

    font-weight: 200;
    letter-spacing: .3ch;
}

/* Tablet */

@media screen and (min-width: 400px) and (max-width: 599px) {
    .pages__name {
        padding: 10px 14px;
    }

    .ide {
        font-size: 12px;
    }

    .top-panel__button {
        margin-right: 5.7px;
        width: 8px;
        height: 8px;
    }

    .code-sheet {
        padding: 9px 18px 9px 14px;
    }

    .code-line {    
        margin-bottom: 5px;
    }

    .footer {
        font-size: 10px;
    }
}

/* Mobile */

@media screen and (max-width: 399px) {
    .pages__name {
        padding: 8px 12px;
    }

    .ide {
        font-size: 9px;
    }

    .top-panel__button {
        margin-right: 4px;
        width: 7px;
        height: 7px;
    }
    
    .code-sheet {
        padding: 10px 14px 10px 12px;
    }

    .code-line {    
        margin-bottom: 4px;
    }

    .footer {
        font-size: 10px;
    }
}