@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400,500,600,700');

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0;
}

main {
    margin: 24px;
}