@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700');

body {
    margin: 0;

    font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
