| ---
| permalink: /404.html
| ---
|
doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title 404 — Anton Fresher’s Pages
    link(rel='stylesheet' href=`${publicDir || ''}/404.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include metrica

  body
    main
      span.code 404

      a.main-page-link(href='/') back to main page
      script(type='text/javascript' defer).
        document.querySelector('.main-page-link').focus();