doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title Антон Фрешер
    link(rel='icon' type='image/png' href=`${publicDir || ''}/assets/hand.png`)
    link(rel='stylesheet' href=`${publicDir || ''}/index.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Anton Fresher’s Pages')
    meta(property='og:title' content='Hello World!')
    meta(property='og:type' content='profile')
    meta(property='og:url' content='https://tonyfresher.github.io/')
    meta(property='og:image' content='https://avatars0.githubusercontent.com/u/17676963')
    meta(property='og:image:width' content='460')
    meta(property='og:image:height' content='460')
    include metrica

  body
    script(type='text/javascript').
      function setRandomAccentColor() {
        var colors = ['#ff6f61', '#fbc04e', '#00cf85', '#4ebdfb', '#8445eb', '#e858b7'];
        var accent = colors[Math.floor(Math.random() * colors.length)];

        var htmlElement = document.querySelector(':root');

        htmlElement.style.setProperty('--accent-color', accent);
      }

      setRandomAccentColor();

    main
      .header-wrapper
        h1.header Ну привет!

        .photo
          img.photo__img(src=`${publicDir || ''}/assets/me.jpg` alt='Фотка потерялась :-(')
          .photo__overlay(onclick='setRandomAccentColor()')

      .space

      span.name Антон Фрешер

      .space

      .at-block
        span.at-block__who разработчик
        span.at-block__at @
        a.at-block__where(href='https://surveys.yandex.ru' target='_blank') Яндекс.Взгляд
      .at-block
        span.at-block__who математик
        span.at-block__at @
        a.at-block__where(href='http://math-mech.ru' target='_blank') Матмех УрФУ
      .at-block
        span.at-block__who дизайнер
        span.at-block__at @
        a.at-block__where(href='https://shutok-ne-ponimaesh.net' target='_blank') ООО «А нарисуй»

      .space

      .at-block
        span.at-block__who tonyfresher
        span.at-block__at @
        a.at-block__where(href='https://tele.gg/tonyfresher' target='_blank') Телеграм
      .at-block
        span.at-block__who tonyfresher
        span.at-block__at @
        a.at-block__where(href='http://vk.com/tonyfresher' target='_blank') Вконтакте
      .at-block
        span.at-block__who tonyfresher
        span.at-block__at @
        a.at-block__where(href='https://instagram.com/tonyfresher' target='_blank') Инстаграм
      .at-block
        span.at-block__who tonyfresher
        span.at-block__at @
        a.at-block__where(href='https://github.com/tonyfresher' target='_blank') Гитхаб
      .at-block
        span.at-block__who tonyfresher
        span.at-block__at @
        a.at-block__where(href='https://behance.net/tonyfresher' target='_blank') Биханс

      .pages
        input.pages__more-checkbox(type='checkbox', id='more-checkbox')
        label.pages__more-label(for='more-checkbox') ...

        a.pages__page(href='./cheatsheets/make-time') как фокусироваться на главном
        a.pages__page(href='./cheatsheets/strong-text') как написать сильный текст

        .space

        a.pages__page(href='./notepad') блокнот
