mixin link-arrow
  svg.text-block__arrow(width='32' height='12' viewBox='0 0 83 33' fill='none' xmlns='http://www.w3.org/2000/svg')
    path.arrow__part(d='M3.48942 17.5039C26.4939 17.5039 95.5072 17.5039 72.5028 17.5039' stroke='#5DCB8B' stroke-width='6' stroke-linecap='round' stroke-linejoin='round')
    path.arrow__part(d='M46.605 3.2157C55.9586 6.91365 61.4183 10.479 70.8756 13.9056C71.7809 14.2336 82.1031 16.5841 79.6137 17.8288C67.7442 23.7636 57.8163 27.296 45 30.5' stroke='#5DCB8B' stroke-width='6' stroke-linecap='round' stroke-linejoin='round')

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title Антон Фрешер
    link(rel='icon' type='image/png' href=`${publicDir || ''}/assets/hand.png`)
    link(rel='stylesheet' href=`${publicDir || ''}/index.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Anton Fresher’s Pages')
    meta(property='og:title' content='Hello World!')
    meta(property='og:type' content='profile')
    meta(property='og:url' content='https://tonyfresher.github.io/')
    meta(property='og:image' content='https://avatars0.githubusercontent.com/u/17676963')
    meta(property='og:image:width' content='460')
    meta(property='og:image:height' content='460')
    include metrica

  body
    script(type='text/javascript').
      function setRandomAccentColor() {
        var colors = ['#ff6f61', '#fbc04e', '#00cf85', '#4ebdfb'];
        var accent = colors[Math.floor(Math.random() * colors.length)];

        var htmlElement = document.querySelector(':root');

        htmlElement.style.setProperty('--accent-color', accent);
      }

      setRandomAccentColor();

    main.main-container
      .header-wrapper
        h1.header Ну, привет!

        .photo
          img.photo__img(src=`${publicDir || ''}/assets/me.jpg` alt='Фотка потерялась :-(')
          .photo__overlay

      .space

      .name
        span.name__label Антон Фрешер

      .space

      .text-block
        a(href='https://surveys.yandex.ru' target='_blank') Взгляд
        +link-arrow
        span.text-block__description делаю сервис исследований в рамках внутреннего стартапа

      .text-block
        a(href='tg://resolve?domain=freshwrites' target='_blank') Freш
        +link-arrow
        span.text-block__description пишу про технологии, дизайн, продукты и психологию

      .space

      .text-block
        a(href='tg://resolve?domain=tonyfresher' target='_blank') Телеграм
        +link-arrow
      .text-block
        a(href='https://instagram.com/tonyfresher' target='_blank') Инстаграм
        +link-arrow
      .text-block
        a(href='http://vk.com/tonyfresher' target='_blank') Вконтакте
        +link-arrow
      .text-block
        a(href='https://behance.net/tonyfresher' target='_blank') Биханс
        +link-arrow
      .text-block
        a(href='https://linkedin.com/in/tonyfresher' target='_blank') Линкдин
        +link-arrow
      .text-block
        a(href='https://github.com/tonyfresher' target='_blank') Гитхаб
        +link-arrow
      .text-block
        a(href='https://ru.bookmate.com/@tonyfresher' target='_blank') Букмейт
        +link-arrow
      .text-block
        a(href='https://music.yandex.ru/users/tonyfresher' target='_blank') Музыка
        +link-arrow
      .text-block
        a(href='https://www.kinopoisk.ru/user/3085085' target='_blank') Кинопоиск
        +link-arrow

      .pages
        input.pages__more-checkbox(type='checkbox', id='more-checkbox')
        label.pages__more-label(for='more-checkbox') ...

        a.pages__page(href='./cheatsheets/make-time') как фокусироваться на главном
        a.pages__page(href='./cheatsheets/strong-text') как написать сильный текст

        .space

        a.pages__page(href='./notepad') блокнот
