doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    title Антон Фрешер
    link(rel='icon' type='image/png' href=`${publicDir || ''}/assets/hand.png`)
    link(rel='stylesheet' href=`${publicDir || ''}/index.css`)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Anton Fresher’s Pages')
    meta(property='og:title' content='Hello World!')
    meta(property='og:type' content='profile')
    meta(property='og:url' content='https://tonyfresher.github.io/')
    meta(property='og:image' content='https://avatars0.githubusercontent.com/u/17676963')
    meta(property='og:image:width' content='460')
    meta(property='og:image:height' content='460')
    include metrica

  body
    script(type='text/javascript').
      function setRandomAccentColor() {
        var colors = ['#ff6f61', '#fbc04e', '#00cf85', '#4ebdfb'];
        var accent = colors[Math.floor(Math.random() * colors.length)];

        var htmlElement = document.querySelector(':root');

        htmlElement.style.setProperty('--accent-color', accent);
      }

      setRandomAccentColor();

    main.main-container
      .header-wrapper
        h1.header Ну, привет!

        .photo
          img.photo__img(src=`${publicDir || ''}/assets/me.jpg` alt='Фотка потерялась :-(')
          .photo__overlay

      .space

      .name
        span.name__label Антон Фрешер
        svg.name__arrow(width="30" height="162" viewBox="0 0 57 162" fill="none" xmlns="http://www.w3.org/2000/svg")
          path.arrow__part(d="M2.65973 159.039C14.85 156.845 25.5742 154.612 31.205 143.35C38.9582 127.844 37.96 113.667 37.96 96.2833C37.96 68.1738 37.96 -16.1547 37.96 11.9548" stroke-width="5" stroke-linecap="round" stroke-linejoin="round")
          path.arrow__part(d="M20.271 48.3718C24.7896 36.9424 29.3761 25.4991 33.5631 13.9431C33.9639 12.8369 36.836 0.223977 38.3569 3.26584C45.6087 17.7694 49.695 34.6724 53.6101 50.3329" stroke-width="5" stroke-linecap="round" stroke-linejoin="round")

      .space

      .text-block
        a.text-block__where(href='https://surveys.yandex.ru' target='_blank') Взгляд
        span.text-block__description делаю сервис исследований в рамках внутреннего стартапа

      .text-block
        a.text-block__where(href='https://tele.gg/freshwrites' target='_blank') Freш
        span.text-block__description пишу про технологии, дизайн, продукты и психологию


      .space

      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='https://tele.gg/tonyfresher' target='_blank') Телеграм
      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='http://vk.com/tonyfresher' target='_blank') Вконтакте
      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='https://instagram.com/tonyfresher' target='_blank') Инстаграм
      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='https://behance.net/tonyfresher' target='_blank') Биханс
      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='https://linkedin.com/in/tonyfresher' target='_blank') Линкдин
      .text-block
        span.text-block__who tonyfresher
        span.text-block__at @
        a.text-block__where(href='https://github.com/tonyfresher' target='_blank') Гитхаб

      .pages
        input.pages__more-checkbox(type='checkbox', id='more-checkbox')
        label.pages__more-label(for='more-checkbox') ...

        a.pages__page(href='./cheatsheets/make-time') как фокусироваться на главном
        a.pages__page(href='./cheatsheets/strong-text') как написать сильный текст

        .space

        a.pages__page(href='./notepad') блокнот
