doctype html
html(lang="ru")

  head
    meta(charset="utf-8")
    title Шпаргалка сильного текста
    link(rel="icon" type="image/png" href=`${publicDir || ""}/assets/dragon.png`)
    link(rel="stylesheet" href=`${publicDir || ""}/strong-text-cheatsheet.css`)
    meta(name="description" content="Шпаргалка сильного текста по «Пиши, сокращай»")
    meta(property="og:title" content="Шпаргалка сильного текста")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://tonyfresher.github.io/strong-text-cheatsheet")
    include metrica

  body
    main
      include:markdown-it(plugins=['markdown-it-deflist']) ../data/strong-text-cheatsheet.md