@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

html {
    font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
    --background-color: #fefffe;
    --text-color: #151515;
    --subheader-text-color: #777;
    --link-text-color: #256eff;
}

body {
    margin: 0;

    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header,
.body {
    padding: 32px 24px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #151515;
}

.header__photo {
    width: 90px;
    height: 90px;

    margin-right: 24px;

    border-radius: 50%;
}

.name {
    display: block;

    margin: 0;

    color: #fffffe;

    font-size: 32px;
    font-weight: 600;
}

.email {
    display: block;

    color: var(--subheader-text-color);
}

.phone {
    display: block;

    color: var(--subheader-text-color);
}

.about {
    margin: 0;

    font-size: 15px;
    font-weight: 400;

    white-space: pre-wrap;
}

.education__university {
    display: block;

    width: max-content;

    font-size: 18px;
    font-weight: 500;

    color: var(--text-color);
}

.education__speciality {
    display: block;

    font-size: 15px;
    font-weight: 400;
}

.education__period {
    display: block;

    font-size: 15px;
    font-weight: 400;

    color: var(--subheader-text-color);
}

.section-header {
    margin: 16px 0 12px;

    width: max-content;

    font-size: 24px;

    padding-bottom: 6px;
    border-bottom: 2px solid var(--text-color);
}

.connects-block {
    margin: 32px 0 0;    
}

.connect {
    margin: 0 12px 0 0;
}