@media screen and (min-width: 600px) {
    .instruments-block .section-header,
    .skills-block .section-header {
        margin: 16px 0 2px;
    }

    .collapsable-grid {
        display: grid;
        grid-column-gap: 12px;
    }
}
@media screen and (min-width: 600px) and (max-width: 809px) {
    .collapsable-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 810px) and (max-width: 1024px) {
    .collapsable-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1025px) {
    .collapsable-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.instrument,
.skill {
    font-size: 15px;
    font-weight: 300;

    margin: 12px 0;

    max-width: 250px;
}

.instrument__name,
.skill__name {
    display: block;

    font-size: 16px;
    font-weight: 500;
}

.skill__details {
    display: block;

    color: var(--subheader-text-color);
}

.progress {
    width: 160px;
    height: 12px;

    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-progress-bar,
.progress::-webkit-progress-value {
    border-radius: 16px;
}

.progress::-webkit-progress-bar {
    background-color: #d6e3ff;
    box-shadow: 0 0 4px #00000025 inset;
}

.progress::-webkit-progress-value {
    background: linear-gradient(to right,#256eff, #5598fc);
}