.job__company {
    display: block;

    width: max-content;

    font-size: 18px;
    font-weight: 500;

    color: var(--text-color);
}

.job__position {
    display: block;

    font-size: 15px;
    font-weight: 400;
}

.job__period {
    display: block;

    font-size: 15px;
    font-weight: 400;

    color: var(--subheader-text-color);
}

.job__description {
    display: block;

    margin: 2px 0 0;

    font-size: 15px;
    font-weight: 400;

    white-space: pre-wrap;
}

@media screen and (min-width: 900px) {
    .technologies-block .section-header {
        margin: 16px 0 2px;
    }

    .collapsable-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 12px;
    }
}

/* .technology:not(:nth-child(1)),
.technology:not(:nth-child(1)) {
    opacity: 0.4;
}

.technology:not(:nth-child(1)):hover,
.technology:not(:nth-child(1)):hover {
    opacity: 1;
} */

.technology {
    font-size: 15px;
    font-weight: 300;

    margin: 12px 0;

    transition: opacity 0.1s;
}

.technology__name {
    display: block;

    font-size: 16px;
    font-weight: 500;
}

.technology__courses {
    display: block;

    color: var(--subheader-text-color);
}

.technology__project-link {
    display: flex;

    width: max-content;
}

.project-link__path {
    opacity: 0.6;
}

.connects-block {
    margin: 32px 0 0;    
}

.connect {
    margin: 0 12px 0 0;
}